#body{
    display: grid;
    width: 100%;
}
#top-row{
    display: grid;
}
knight-cartoon {
    grid-column: 1/1;
    grid-row: 1/1;
}
banner-cartoon {
    grid-column: 1/1;
    grid-row: 1/1;
}
browser-cartoon {
    margin-top: 75px;
    grid-column: 1/1;
    grid-row: 1/1;
}