#bottom-div{
    width: 100%;
    grid-template-columns: 1fr;
    display: grid;
    margin-top:48px;
}
#wizard {
    grid-column: 1/2;
    grid-row: 1/2;
}
.action3 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}
.emp {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}